# Configuration file for Travis CI, see https://docs.travis-ci.com
language: java
jdk:
- oraclejdk8
env:
  global:
  - NODE_VERSION: 6
before_script:
  - export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start #start xvfb so that we can start Firefox, see https://docs.travis-ci.com/user/gui-and-headless-browsers/#Using-xvfb-to-Run-Tests-That-Require-a-GUI
before_install:
- nvm install $NODE_VERSION
script:
- (cd backend && ./build.sh)
  && (cd frontend && ./build.sh)
  && (cd acceptance-tests && ./build.sh && ./upload-serenity-reports.sh)
  && (cd services/flightinformation && ./build.sh)
addons:
  #Browser is used by the acceptance tests
  firefox: '42.0'
cache:
  timeout: 604800 #1 week
  directories:
  - "$HOME/.m2"
deploy:
  provider: cloudfoundry
  username: educama-core@novatec-gmbh.de
  password:
    secure: T3gblw+Bikg+4ELFsqHxSV96RngijEJqkfhsjkrprU4xff0YGiKgGWTcWmemAYxdlKogL3u6FT0TcFP95hdYDXUWggtzZKZGq6LLALJHRjITDaIXfq1xvDhaC8Q54t28UKM+mH8aO7XxnUOjrlHSScJNvVFDtJKorvf7KJsz/0rzEc7km7b0Yrnonj2QlPwycBPMBYTgo5XDuPMMskJ/fJG4Fi/MYLYlEUeyb/QCJawmKcbrjItDoMxVtmZnsHKE5Dyej+aGQj906dPCUTMN1cS4bi/vpQBhtGgo9FqD5QQm3fvYlmmZsjvMUHh1jLO8peBvuRpcUkBuZ/naLYy9mXmy1KfgbyPPczG1wNq3sl7mgvxdbypQuhiedgJGY6j66FEL9BQPJdPdoQ4u2faBwCY27mQBcI0DfEwfqzpYyv2Ke7zmv5O6eobSNj9i/W7+EhackWqEZEf8Hxh89/UrGYw00qLP6mUPI3IRub6Ds6kQYHOcmV4KPK3iRNb9+mFQYgftHzyHIuZUmskbE5ccsMXRm813ommeOq25XH/DbO1LvOavf3KQUoEc3+k6fLlp4B3OU07+dlhPhPXa76nGESofgXKtswGrXx17ypKfNNBpBqsenn7VeZUU2blgCn/bfAreRsCKvCxx5FmFoyt/+oeamHrw5oh/6Uz+qdO3yHk=
  api: https://api.ng.bluemix.net
  organization: '"NovaTec Consulting GmbH"'
  space: Educama-Development
  on:
    repo: Educama/Showcase
