<p-panel header="{{'SHIPMENT-CAPTURE-COMPONENT_TITLE'|translate}}">
  <!--<ul style="list-style: none; ">
    <li>{{'SHIPMENT-RESOURCE_TRACKING-ID'|translate}}: {{shipment?.trackingId}}</li>
    <li>{{'SHIPMENT-RESOURCE_SENDER'|translate}}: {{shipment?.sender.name}}</li>
    <li>{{'SHIPMENT-RESOURCE_RECEIVER' | translate}}: {{shipment?.receiver.name}}</li>
  </ul>-->

  <div class="ui-g">
    <div class="ui-g-12 ui-md-2">
      <label>{{'SHIPMENT-RESOURCE_TRACKING-ID'|translate}}:</label>
    </div>
    <div class="ui-g-12 ui-md-10 ">
      <a>{{shipment?.trackingId}}</a>
    </div>
    <div class="ui-g-12 ui-md-2">
      <label>{{'SHIPMENT-RESOURCE_SENDER'|translate}}:</label>
    </div>
    <div class="ui-g-12 ui-md-10 ">
      <a>{{shipment?.sender.name}}</a>
    </div>
    <div class="ui-g-12 ui-md-2">
      <label>{{'SHIPMENT-RESOURCE_RECEIVER' | translate}}:</label>
    </div>
    <div class="ui-g-12 ui-md-10 ">
      <a>{{shipment?.receiver.name}}</a>
    </div>
</div>

</p-panel>
