<html>
<style>
.chart{
    margin: 10px 10px 10px 10px;
    padding: 10px 50px 50px 10px;
	width:25%;
	border-style:solid;
	border-color: #595978;
	border-width:1px;
	float:both;


}
.main{
float: left;
margin: 10px 0 0 10px;
width:100%;
}

</style>
<body>
<div class="main">
    <div>
        <p>This is a simple page for uploading csv file to the flightinfo service.</p>
        <p>Example data is available at:
            <ul>
                <li>Local directory src/main/java/resources/data/</li>
                <li><a href="https://openflights.org/data.html">https://openflights.org/data.html</a></li>
            </ul>
        </p>
    </div>


    <div class="chart">
        <h2>Upload Airports Data</h2>
        The csv is posted as multipart data form to <i> /airports/import/csv</i>. An empty page will be displayed in case of a successful import.
        <form method="POST" enctype="multipart/form-data" action="airports/import/csv">
            <table>
                <tr><td>Please select the csv file.</td></tr>
                <tr>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>
    </div>


    <div class="chart">
        <h2>Upload Airlines Data</h2>

        The csv is posted as multipart data form to <i> /airlines/import/csv</i>. An empty page will be displayed in case of a successful import.
        <form method="POST" enctype="multipart/form-data" action="airlines/import/csv">
            <table>
                <tr><td>Please select the csv file.</td></tr>
                <tr>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>
    </div>


    <div class="chart">
        <h2>Upload flight flightConnections Data</h2>
        The csv is posted as multipart data form to <i> /flightConnections/import/csv</i>. An empty page will be displayed in case of a successful import.
        <form method="POST" enctype="multipart/form-data" action="flightConnections/import/csv">
            <table>
                <tr><td>Please select the csv file.</td></tr>
                <tr>
                    <td><input type="file" name="file"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Upload"/></td>
                </tr>
            </table>
        </form>
    </div>

</div>

</body>
</html>