<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" (click)="showAll();" href="#">Supplier Simulator Frontend</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li (click)="showAll();"><a href="#">All events</a></li>
        <li (click)="showFlights();"><a href="#">Airline</a></li>
        <li (click)="showCargos();"><a href="#">Haulier</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <span class="loading" *ngIf="displayed"><h1>Loading events...</h1></span>
  <span *ngIf="!displayed">
    <div class="row row-bordered">
      <div class="col-sm-3"><h3 class="title">Booking Type</h3></div>
      <div class="col-sm-3"><h3 class="title">Booking Information</h3></div>
      <div class="col-sm-3"><h3 class="title">Status</h3></div>
      <div class="col-sm-3"><h3 class="title">Actions</h3></div>
    </div>
    <span *ngIf="displayFlights">
      <flight-list *ngFor="let flight of flights" [flight]="flight"></flight-list>
    </span>
    <span *ngIf="displayCargos">
      <cargo-list *ngFor="let cargo of cargos" [cargo]="cargo"></cargo-list>
    </span>
  </span>
</div>
