$dark_blue: #00639a;

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

/* for row in table */
.highlight {
  background: #337ab7;
  color: white;
}

/* for header of columns */
.clickable {
  cursor: pointer;
}

/* for search component */
.has-feedback .form-control-feedback {
  left: 1px;
}
.has-feedback .form-control {
  padding-left: 35px;
}

.loading-spinner {
  font-size: 3em;
  color: $dark_blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}