<p-dataTable
        id="shipment-list-component_shipments-table"
        [value]="shipmentList"
        [emptyMessage]="emptyListMessage"
        [responsive] = true
        selectionMode="single"
        [(selection)]="selectedShipment">
    <p-column field="trackingId" header="{{'SHIPMENT-RESOURCE_TRACKING-ID' | translate}}"></p-column>
    <p-column field="customer" header="{{'SHIPMENT-RESOURCE_CUSTOMER' | translate}}"></p-column>
    <p-column field="senderAddress" header="{{'SHIPMENT-RESOURCE_SENDER-ADDRESS' | translate}}"></p-column>
    <p-column field="receiverAddress" header="{{'SHIPMENT-RESOURCE_RECEIVER-ADDRESS' | translate}}"></p-column>
</p-dataTable>