/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';
$list_header_color: #369;
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em;
}


.enabledTask-list-page {
  h1 {
    color: $list_header_color;
    font-size: 1.2em;
  }
}

.task-list-page-component-caseui {
  h1 {
    color: $list_header_color;
    font-size: 1.2em;
  }
}
