/* You can add global styles to this file, and also import other style files */
$fa-font-path : '../node_modules/font-awesome/fonts';

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2em;
}

h1 {
  color: #369;
  font-size: 250%;
}
